/* normal design made for 1920 x 1080 */

/* Fonts Start */

/* styles start */
.roboto{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3F3C3C;
}

@font-face{
    font-family: 'Inter Variable';
    src: url(/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face{
    font-family: 'Inter Variable Italic';
    src: url(/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

.inter{
    font-family: 'Inter Variable', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.interI{
    font-family: 'Inter Variable Italic', 'sans-serif';
}

.weight300{
    font-weight: 300;
}

.weight400{
    font-weight: 400;
}

.weight600{
    font-weight: 600;
}

.weight700{
    font-weight: 700;
}
/* styles end */

/* sizes start */

.size16{
    font-size: 16px;
}

.size18{
    font-size: 18px;
}

.size20{
    font-size: 20px;
}

.size24{
    font-size: 24px;
}

.size36{
    font-size: 36px;
}

.size40{
    font-size: 40px;
}

.size48{
    font-size: 48px;
}

.size64{
    font-size: 64px;
}

/* sizes end */

/* text aligns Start */
.ta-l{
    text-align: left;
    margin-left: 2.5rem;
}

.ta-l2{
    text-align: left;
    margin-left: 4rem;
}

.ta-l3{
    text-align: left;
    margin-left: 1.5rem;
}

.ta-r{
    text-align: right;
}

.gridtext{
    margin: 30px 10px 20px 10px;
}

.footertext{
    text-align: left;
    padding-left: 5rem;
    padding-top: 3.5rem;
}

/* text aligns End */

/* text colors Start */
.navtext{
    color: #3f3c3c;
}

.navtextsale{
    color: #B73A2A;
}
/* text colors End */

/* Fonts End */

.row{
    width: 100%;
}

.navbar-1{
    height: 90px;
    gap: 30px;
    margin-top: 30px;
}

.flex-container{
    display: flex;
}

.fluid-container{
    display: fluid;
}

.grid-container{
    display: grid;
    margin-left: 110px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.justify-content{
    display: flex;
    justify-content: center;
}

.hero-container{
    background-color: #181818CC;
    color: white;
    padding: 30px 30px 30px 30px;
    position: absolute;
    top: 893px;
    left: 133px;
}

.greener{
    max-width: 100%;
    height: 99px;
    color: #FFFFFF;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1E2C20;
    align-content: center;
}

.review-container{
    background-color: #12121299;
    color: white;
    padding: 30px 30px 30px 30px;
    width: 426px;
    height: 345px;
    border-radius: 10px;
    position: relative;
    bottom: 510px;
    left: 55px;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    
}

.card{
    width: 497px;
    height: 338;
    object-fit: cover;
    border-radius: 10px;
    border: solid black 1.5px
}

.gridcard{
    width: 531px;
    height: 664px;
    border-radius: 10px;
}

.cardmarg{
    margin: 0px 20px 0px 20px;
}

.shopbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 42px;
    border: solid #292828 1px ;
    margin-left: 20px;
    margin-bottom: 15px;
}

/* Images section Start */

.heroImage{
    width: 1920px;
    height: 1067px;
    object-fit: cover;
}

.logoset{
    position: absolute;
    top: 24px;
    left: 113px;
}

.firstset{
    width: 376px;
    height: 347px;
    border-radius: 10px;
}

.secondset{
    width: 805px;
    height: 632px;
}

.thirdset{
    width: 449px;
    height: 338px;
    border-radius: 10px;
    margin: 25px 0px 0px 23px;
}

.fourthset{
    width: 531px;
    height: 664px;
    border-radius: 10px;
}

/* Images section End */

/* tiny circles Start */

.containercir{
    display: flex;
    position: relative;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    justify-content: left;
}

.containercir .tinyc{
    display: flex;
    width: 29px;
    height: 31px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: white;
    align-content: center;
    text-align: center;
    
}

.containercir .tinyc .tinyc1{
    display: flex;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #EA2D2C;
    margin: auto;
}

.containercir .tinyc2{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #FB5108;
    margin: 5px;
    
}

.containercir .tinyc3{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #D29D12;
    margin: 5px;
}

.containercir .tinyc4{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #353535;
    margin: 5px;
}

/* tiny circles End */

/* Footer Start */

.footer{
    width: 100%;
    background-color: #1E2C20;
    color: white;
}

.searchcol{
    width: 450px;
}

.ebox{
    background-color: #E5E7EB;
    width: 239px;
    height: 42px;
    margin-left: 13px;
    color: #B1B5BB;
    align-content: center;
}

.subox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 42px;
    border: solid #FFFFFF 1px ;
    margin-left: 5px;
}

.gap{
    display: flex;
    gap: 10px;
}

.mediaImage{
    width: 50px;
    height: 30px;
    margin-top: 20px;
}

.mediaImageF{
    width: 40px;
    height: 30px;
    margin-top: 20px;
}

/* Footer End */

/* Phone screen Start */
@media (max-width: 576px){

    .size64{
        font-size: 24px;
    }

    .navbar{
        display: flex;
        width: 500px;
        height: 60px;
    }

    .logoset{
        position: absolute;
        width: 40px;
        height: 33px;
        top: 14px;
        left: 372px;
    }

    .size12{
        font-size: 12px;
    }

    .container-flex{
        display: flex;
        width: 100%;
    }

    .heroImage{
        width: 500px;
        height: 332px;
    }

    .hero-container{
        background-color: #181818CC;
        color: white;
        padding: 10px 10px 10px 10px;
        position: absolute;
        top: 400px;
        left: 50px;
        font-size: 20px;
    }

    .greener{
        max-width: 432px;
        height: 49px;
        color: #FFFFFF;
        font-size: 12px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #1E2C20;
        text-align: center;
    }

    .firstset{
        width: 174px;
        height: 187px;
        border-radius: 10px;
    }

    .robotoS2{
        font-size: 20px;
    }











}




/* Phone screen End */